@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


*{
    padding: 0;
    margin: 0;
}


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");

body {
    place-items: center;
    background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
    background: #318cfe;
    font-family: 'poppins';
}

.c {
    position: relative;
}

.text-c {
    display: grid;
    place-items: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}

h1 {
    position: relative;
    font-size: 72px;
    color: white;
    line-height: 0;
}

.drop {
    position: absolute;
    height: 200px;
    width: 200px;
    background: #54abfb;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    opacity: 0.8;
    border: 2px solid #3d93ff;
}

.drop::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: #318cfe;
    border-radius: 51% 49% 48% 52% / 62% 44% 56% 38%;
    box-shadow: -20px 30px 16px #1b6cfb, -40px 60px 32px #1b6cfb,
    inset -6px 6px 10px #1b6cfb, inset 2px 6px 10px #1a74e5,
    inset 20px -20px 22px white, inset 40px -40px 44px #a8ceff;
}

.drop::after {
    content: "";
    position: absolute;
    height: 40px;
    width: 40px;
    background: #e6fdfb;
    border-radius: 44% 56% 46% 54% / 36% 50% 50% 64%;
    left: 130px;
    top: 40px;
    box-shadow: 16px 40px 0 -10px white;
    opacity: 0.8;
}

.drop1 {
    left: -50px;
    top: 0px;
}

.drop2 {
    right: -50px;
    bottom: -50px;
    z-index: -1;
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}
.drop3{
    bottom: -50px;
    left: 50%;
    z-index: -1;
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

.drop2::before {
    border-radius: 46% 50% 39% 54% / 56% 57% 50% 50%;
}

p {
    line-height: 0;
    color: white;
    font-size: 20px;
    font-family: "Montserrat";
}







header {
    padding: 10px;
    font-size: 30px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background: rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    font-weight: bolder;
}


.board {
    margin-left: auto;
    margin-right: auto;
    width: max-content;
    height: max-content;
    display: grid;
   /*margin-top: 10%;*/
    grid-template-columns: repeat(3,120px);
    /*grid-gap: 4px;*/
    grid-column-gap: 4px;
    padding: 30px;
    /*background-image: url("ht?tps://rasbula.com/agency/img/blog-news-2.jpg");*/
    /*background: rgb(238,174,202);*/
    /*background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);*/

    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );

}





.winning-cell {
    color: red;
    animation: blink 2s 1;
}
@keyframes blink {
    10%{
        scale: 0.5;
        border: 2px solid red;
    }
    20%{
        scale: 0.7;
        border: 2px solid red;
    }
    30%{
        scale: 1;
        border: 2px solid red;

    }
    40%{
        scale: 1.2;
        border: 2px solid red;

    }
    50%{
        scale: 0.7;

        border: 2px solid red;

    }
    60%{
        scale: 1;
    }
    75%{
        scale: 1.2;
        border: 2px solid red;

}
    85%{
        scale: 1.1;
        border: 2px solid red;

    }
100%{
    scale: 1.2;
    border: 2px solid red;

}
}


.cell{
    width: 120px;
    height: 120px;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.4s;
}
.turn{
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.4s;
    margin-left: auto;
    margin-right: auto;
    font-size: 45px;
    width: max-content;
    height: max-content;
    padding: 9px;
    margin-top: 21px;
    margin-bottom: 12px;
}

.action-container{

    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%);
    width: max-content;
    height: max-content;
    padding: 50px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-weight: bolder;
    font-size: 20px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 4px );
    border-radius: 5px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    transition: 0.4s;
    min-width: 150px;
}

.btn{
    position: absolute;
    right: 0;
    background: white;
    scale: 0.7;
    top: 0;
    border-radius: 6px;
    cursor:  pointer;

}
.btn:hover{
    border: 2px solid red;
    scale: 1.1;
}

.cell:hover {
        box-shadow: 0 0 10px rgba(218, 21, 21, 0.7); /* Adjust the values as needed */
    }

.action{
    margin-top: 15px;
}


 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 24
 }



